<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cybelians</title>
    <link rel="stylesheet" href="/mdb/css/mdb.min.css" />
  </head>
  <body>
    <%-body%>
    <script
      src="//code.tidio.co/hbusspjynvaja31ka2ywktgwjrjyj7q3.js"
      async
    ></script>
    <script src="/mdb/js/mdb.min.js"></script>
  </body>
</html>
